<h1 class="page-title">Team Overview <span class="text-button page-toggle"><a ui-sref="app.overview.personal">/ Personal Overview</a></span></h1>
<div layout="column" layout-gt-sm="row" flex="100" layout-margin layout-wrap>
    <div flex="100" flex-md="45" flex-gt-md="20" class="panel highlight-panel">
        <div class="panel-top">
            <h4>Active Tasks</h4>
        </div>
        <hr/>
        16
    </div>
    <div flex="100" flex-md="45" flex-gt-md="20" class="panel highlight-panel">
        <div class="panel-top">
            <h4>In Progress Tasks</h4>
        </div>
        <hr/>
        4
    </div>

    <div flex="100" flex-md="45" flex-gt-md="20" class="panel highlight-panel">
        <div class="panel-top">
            <h4>Tasks Ready For Testing</h4>
        </div>
        <hr/>
        8
    </div>
    <div flex="100" flex-md="45" flex-gt-md="20" class="panel highlight-panel">
        <div class="panel-top">
            <h4>Completed Tasks</h4>
        </div>
        <hr/>
        54
    </div>
</div>

<div layout="column" layout-gt-sm="row" flex="100" layout-margin layout-wrap>
    <div flex="100" flex-gt-md="45" class="panel dashboard-panel in-progress-panel">
        <div class="panel-top">
            <h3>Tasks To Do</h3>
        </div>
        <hr />
    </div>
    <div flex="100" flex-gt-md="45" class="panel dashboard-panel to-do-panel">
        <div class="panel-top">
            <h3>Tasks In Progress</h3>
        </div>
        <hr />
    </div>
</div>

<div layout="column" layout-gt-sm="row" flex="100" layout-margin layout-wrap>
    <div flex="100" flex-gt-md="45" class="panel dashboard-panel dashboard-panel-small deadlines-panel">
        <div class="panel-top">
            <h3>Upcoming Deadlines</h3>
        </div>
        <hr />
    </div>

    <div flex="100" flex-gt-md="45" class="panel dashboard-panel dashboard-panel-small completed-panel">
        <div class="panel-top">
            <h3>Recently Completed Tasks</h3>
        </div>
        <hr />
    </div>
</div>
