<li class="left-sidebar-menu-parent" ui-sref-active="active">
    <a ui-sref="app.overview.personal">
        <i class="mdi mdi-view-dashboard"></i>
        <span>Overview</span>
    </a>
</li>
<li class="left-sidebar-menu-parent" ui-sref-active="active">
    <a ui-sref="app.tasks.display">
        <i class="mdi mdi-android-studio"></i>
        <span>Active Tasks</span>
    </a>
</li>
<li class="left-sidebar-menu-parent" ui-sref-active="active">
    <a ui-sref="app.backlog.display">
        <i class="mdi mdi-archive"></i>
        <span>Backlog</span>
    </a>
</li>
<li class="left-sidebar-menu-parent" ui-sref-active="active">
    <a ui-sref="app.projects.display">
        <i class="mdi mdi-clipboard-text"></i>
        <span>Projects</span>
    </a>
</li>
<li class="left-sidebar-menu-parent" ui-sref-active="active">
    <a ui-sref="app.calendar.display">
        <i class="mdi mdi-calendar"></i>
        <span>Calendar</span>
    </a>
</li>
